## [Start] Setting "activeStatus" to default value of "INACTIVE". **
$util.qr($context.args.input.put("activeStatus", $util.defaultIfNull($ctx.args.input.activeStatus, "INACTIVE")))
## [End] Setting "activeStatus" to default value of "INACTIVE". **
{}